{% extends "base.html" %}
{% block content %}
    <div>
        <article class="col-12 lh-lg fs-5">

            <div class="center-login">
                <h2>Login</h2>
                    <form action="{{ url_for('auth.login') }}" method=post>
                        <dl>
                            {{ form.csrf_token }}
                            {{ render_field(form.email) }}
                            {{ render_field(form.password) }}
                        </dl>
                        <p><input type=submit value=Login>
                    </form>
            </div>
            <div class="main">
            <h1>Welcome Page</h1>
            {{ lipsum (n=5, html=True, min=20, max=100) }}
            </div>
        </article>
        {% if current_user.is_authenticated == false %}



        {% endif %}

    </div>
    <style>
        .center-login {
            display: block;
            margin-right: auto;
            margin-left: auto;
            width: 50% !important;
            align: center !important;
            text-align: center;
        }
        .main {
            display: block;
            left-margin: auto;
            right-margin: auto;
            width: auto;
            text-align: center;
        }
    </style>
{% endblock %}
</article>
