{% extends "base.html" %}

    {% block content %}
    {% block title %}Play and enjoy!{% endblock %}
    <link rel="stylesheet" href="../../static/css/Sudoku.css"/>
        <h1>Sudoku</h1>



        <div id="puzzle"></div>
        <br/>
        <button id="solve-btn">Solve</button>
        <p id="solution"></p>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../../static/js/scripts.js"></script>

     <style>
        #puzzle {
            margin: auto !important;
            align: center !important;
        }

        #solve-btn {
            margin: auto !important;
            align: center !important;
            width:30% !important;
        }
    </style>
    {% endblock %}

